<mat-card class="example-card" >
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <h1>Financeiro</h1>
  </mat-card-header>
  <img mat-card-image src="https://angular.io/assets/images/logos/angular/angular_solidBlack.svg" alt="Photo of a Shiba Inu">
  <mat-card-content>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et est in elit bibendum viverra.
          Suspendisse iaculis lacus ac mattis efficitur. Suspendisse potenti. Nunc ac tristique ex, quis rutrum nisl.
          Curabitur blandit diam non enim rutrum blandit. Integer blandit, tortor ac lobortis varius, arcu nisi dictum
          neque, sed tempus erat nisi eget metus. Pellentesque sed purus id velit feugiat dictum id at erat. Sed
          tincidunt scelerisque vehicula. Suspendisse a bibendum nunc, eu finibus ipsum. Interdum et malesuada fames
          ac ante ipsum primis in faucibus. Praesent hendrerit fringilla sem eu ultricies. Donec ligula massa,
          ultricies accumsan velit ac, ullamcorper consectetur lacus. Sed dapibus, sem ac condimentum egestas, nisl
          mauris eleifend magna, sit amet viverra est ante nec lectus. Aliquam sodales bibendum sapien, sed imperdiet
          augue efficitur quis.
      </p>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>